.container {
    margin: 20px 0 60px !important;
}

.editor-section, .result-section {
    margin: 30px 0;
}

.footer {
    position: fixed !important;
    bottom: 0;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    z-index: 100;
}
