.header-content, .footer-content {
    height: 60px !important;
}

.header-content {
    background-color: #FFF !important;
}

.footer-content {
    background-color: #FFF8DC !important;
}

@media(min-width: 600px) {
    .copyright {
        float: left;
    }
    .footer-cols {
        float: right;
        width: 40%;
    }
}

@media(max-width: 600px) {
    .footer-cols {
        display: none;
    }
}
