.editor-col {
    border: 1px solid rgba(34,36,38,.15) !important;
    margin: 0 10px !important;
    padding: 0 !important;
    border-radius: 10px !important;
}

.editor-col:active, .editor-col:focus {
    border-color: #85b7d9 !important;
}

.editor-section textarea.dark, .editor-section textarea.dark:focus, .editor-section textarea.dark:active {
    background: #000;
    color: #fff;
}

@media(max-width: 800px) {
    .lg-only {
        display: none !important;
    }
}