.header-content {
  background-color: #FFF !important;
  height: 65px !important;
}

.brand {
  padding-left: 40px !important;
  margin-top: -20px !important;
  user-select: none !important;
  pointer-events: none !important;
  -webkit-user-drag: none !important;
}

.clock-area {
  position: absolute !important;
  margin-left: auto !important;
  right: 10px !important;
  top: 5px !important;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid rgba(0,0,0,.4);
  border-radius: 10px;
  transition: all .5s ease;
}

.clock-area:hover {
  box-shadow: 1px 1px rgba(0,0,0,.6);
}
